// *
// **
// view all cards

.viewAllCards {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  background-color: white;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  .allCardScaffold {
    height: 100vh;
    background-color: white;
    border-radius: 30px;
    margin: auto 0px;
    position: relative;
    overflow: scroll;
    .backbtn {
      width: 100px;
      margin-top: 15px;
      margin-left: 15px;
      z-index: 1;
      color: #d12e5e;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: left;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      span {
        font-size: 20px;
        margin-left: 5px;
      }
    }
  }
  // *
  // **
  // ***
  // from cards,extra style added
  .cardMargin {
    margin-top: 20px;
  }
  @media (max-width: 400px) {
    .cardMargin {
      margin: 0 0;
      margin-top: 20px;
    }
  }
}

.dateCard {
  width: 210px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px 0px 20px;
  background-color: #d12e5e;
  border-radius: 30px;
  padding: 2px 15px;
  color: white;
  position: sticky;
  top: 5px;
  font-weight: bold;
  z-index: 2;
  ion-icon {
    font-size: 25px;
  }
}
